# Local variables
**/.env
**/.env.*
!**/.env.example
!**/*.gitkeep

# Junke folders
Wordpress_docker/wp-content/themes/*
Wordpress_docker/wp-content/languages/*
Wordpress_docker/wp-content/plugins/*
Wordpress_docker/wp-content/upgrade/*
Wordpress_docker/wp-content/uploads/*
Wordpress_docker/wp-content/backups/*
Wordpress_docker/wp-content/cache/*

!Wordpress_docker/wp-content/themes/*.gitkeep
!Wordpress_docker/wp-content/languages/*.gitkeep
!Wordpress_docker/wp-content/plugins/*.gitkeep
!Wordpress_docker/wp-content/upgrade/*.gitkeep
!Wordpress_docker/wp-content/uploads/*.gitkeep
!Wordpress_docker/wp-content/backups/*.gitkeep
!Wordpress_docker/wp-content/cache/*.gitkeep

*.log