html/
apache-config/
logs/
ssl/

node_modules/

.git
.gitignore
.gitmodules
.git-*
.svn/
.hg/

.vscode

.env*
.env.local
.env.example
*.key
*.pem
*.crt
*.cert

*.log
logs/
tmp/
temp/
*.pid

*.txt
*.md
README*
LICENSE*
