# Environment variable for example

MYSQL_ROOT_PWD_EXAMPLE=example_password_123
MYSQL_DB_EXAMPLE=wordpress_example
MYSQL_USER_EXAMPLE=example_user
MYSQL_PWD_EXAMPLE=example_pass_123

WP_DB_HOST_EXAMPLE=db
WP_DB_USER_EXAMPLE=example_user # 'MYSQL_USER_EXAMPLE'
WP_DB_PWD_EXAMPLE=example_pass_123 # 'MYSQL_PWD_EXAMPLE'
WP_DB_NAME_EXAMPLE=wordpress_example # 'MYSQL_DB_EXAMPLE'

WP_UID_EXAMPLE=777
WP_GID_EXAMPLE=777
WP_USER_EXAMPLE=wp_user

WP_PORT_EXAMPLE=60000